html body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("images/Ciel-nature.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    padding: 10px;
    height: 100%;
    width: 98.4%;
}

header {
    grid-area: header;
    border-radius: 30px;
    background: url("images/Ciel-nature.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 40px;
    padding: 10px;
    margin: 0 auto 0 auto;
    margin-top: 100px;
    text-align: center;
    width: 90%;

}

nav {
    grid-area: nav;
    width: 450px;
    font-weight: 700;
    border-radius: 20px;
    border: ridge 4px rgba(0, 68, 255, 0.396);
    margin-bottom: 0;
    background: url("images/degrade.jpg");
    position: fixed;
    top: 5px;
    z-index: 1000;
}

nav ul {
    display: flex;

}

nav li {
    margin-left: 50px;
    list-style-type: none;
}

nav a {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: underline wavy white;
    text-underline-offset: 2px;
}

main {
    grid-area: main;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
}

aside {
    grid-area: aside;
    background: hsla(0, 80%, 32%, 0.365);
    padding: 20px;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;


}

footer {
    grid-area: footer;
    background: #7e27a9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    margin-top: 120px;
}
@media all and (max-width: 780px)
{
    header{
        margin-top: 200px;
    }
}