* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
}
body{
    width: 200vh;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    padding: 10px;
}

header {
    grid-area: header;
    border-radius: 30px;;
    background: #4A90E2;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    width: 200vh;
    text-align: center;
}

nav {
    grid-area: nav;
    background: #000000;
    padding: 5px;
    width: 260px;
    font-weight: 700;
    border-radius: 20px;
    border: ridge 4px rgb(255, 74, 74);
}
nav ul{
    display: flex;
}
nav li{
    margin-left: 20px;
    list-style-type: none;
}
nav a{
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    color: white;
}
nav a:hover{
    text-decoration: underline wavy white;
    text-underline-offset: 2px;
}

main {grid-area: main;
    background: #81ff7f;
    padding: 20px;
}

aside {
    grid-area: aside;
    background: #ff8484;
    padding: 20px;
}

footer {
    grid-area: footer;
    background: #4A90E2;
    color: white;
    text-align: center;
    padding: 20px;
}